자치구 인구수별 공원 면적 비교

In [12]:
import pandas as pd

df = pd.read_excel('../../data/park.xlsx', skiprows=3)

df.head()

    소계  173075.97  17.96  119308.61  12.38 55397.55   5.75
0  종로구   11434.59     76    6236.64  41.45   3021.2  20.08
1   중구    3204.71  24.32    3116.66  23.65   1390.7  10.55
2  용산구    1773.80   7.81     757.35   3.33  1611.79    7.1
3  성동구    3085.71  10.84    1230.96   4.32  2908.02  10.21
4  광진구    3459.84   9.85    2993.93   8.53  1351.39   3.85

In [ ]:
df.rename(columns={df.columns[0]: "gu_name"}, inplace=True)


df.columns = ["gu_name", "공원_면적", "공원_1인당면적", 
              "도시공원_면적", "도시공원_1인당면적", 
              "도보생활권공원_면적", "도보생활권공원_1인당면적"]

df.reset_index(drop=True, inplace=True)

print(df.head())

  gu_name     공원_면적 공원_1인당면적  도시공원_면적 도시공원_1인당면적 도보생활권공원_면적 도보생활권공원_1인당면적
0     종로구  11434.59       76  6236.64      41.45     3021.2         20.08
1      중구   3204.71    24.32  3116.66      23.65     1390.7         10.55
2     용산구   1773.80     7.81   757.35       3.33    1611.79           7.1
3     성동구   3085.71    10.84  1230.96       4.32    2908.02         10.21
4     광진구   3459.84     9.85  2993.93       8.53    1351.39          3.85

In [20]:
df = df.drop(columns = ['도시공원_면적'])

In [21]:
df = df.drop(columns = ['도시공원_1인당면적'])

In [22]:
df

   gu_name     공원_면적 공원_1인당면적 도보생활권공원_면적 도보생활권공원_1인당면적
0      종로구  11434.59       76     3021.2         20.08
1       중구   3204.71    24.32     1390.7         10.55
2      용산구   1773.80     7.81    1611.79           7.1
3      성동구   3085.71    10.84    2908.02         10.21
4      광진구   3459.84     9.85    1351.39          3.85
5     동대문구   1215.39     3.38    1053.66          2.93
6      중랑구   5199.93    13.42    1883.95          4.86
7      성북구   8527.94    19.46    1681.56          3.84
8      강북구  14570.45    49.73    2129.13          7.27
9      도봉구  10151.52     32.8     1122.2          3.63
10     노원구  14741.50    29.31    1898.39          3.77
11     은평구  14398.24    30.58    2209.56          4.69
12    서대문구   5107.20    15.93    1132.17          3.53
13     마포구   4569.31    12.18    4345.51         11.58
14     양천구   3049.86     6.94    2211.53          5.03
15     강서구   4519.82     7.95    3532.42          6.21
16     구로구   3712.72     8.93    1667.75          4.01
17     금천구   2774.39    11.51     563.75          2.34
18    영등포구   3003.01     7.55    2957.23          7.43
19     동작구   4365.78     11.2    2311.33          5.93
20     관악구  12484.82    25.08    1968.85          3.95
21     서초구  15075.97    36.59    2219.23          5.39
22     강남구   7794.55    14.16    3702.44          6.73
23     송파구   4776.80     7.24    4396.58          6.66
24     강동구   3408.12     7.36    2127.21          4.59
25   서울대공원   6670.00        -          -             -

In [23]:
df.drop(index=25, inplace=True)

In [24]:
df

   gu_name     공원_면적 공원_1인당면적 도보생활권공원_면적 도보생활권공원_1인당면적
0      종로구  11434.59       76     3021.2         20.08
1       중구   3204.71    24.32     1390.7         10.55
2      용산구   1773.80     7.81    1611.79           7.1
3      성동구   3085.71    10.84    2908.02         10.21
4      광진구   3459.84     9.85    1351.39          3.85
5     동대문구   1215.39     3.38    1053.66          2.93
6      중랑구   5199.93    13.42    1883.95          4.86
7      성북구   8527.94    19.46    1681.56          3.84
8      강북구  14570.45    49.73    2129.13          7.27
9      도봉구  10151.52     32.8     1122.2          3.63
10     노원구  14741.50    29.31    1898.39          3.77
11     은평구  14398.24    30.58    2209.56          4.69
12    서대문구   5107.20    15.93    1132.17          3.53
13     마포구   4569.31    12.18    4345.51         11.58
14     양천구   3049.86     6.94    2211.53          5.03
15     강서구   4519.82     7.95    3532.42          6.21
16     구로구   3712.72     8.93    1667.75          4.01
17     금천구   2774.39    11.51     563.75          2.34
18    영등포구   3003.01     7.55    2957.23          7.43
19     동작구   4365.78     11.2    2311.33          5.93
20     관악구  12484.82    25.08    1968.85          3.95
21     서초구  15075.97    36.59    2219.23          5.39
22     강남구   7794.55    14.16    3702.44          6.73
23     송파구   4776.80     7.24    4396.58          6.66
24     강동구   3408.12     7.36    2127.21          4.59

melt()를 사용해 기존 컬럼을 park_type, value로 변환

In [28]:
df_melted = df.melt(id_vars=["gu_name"], 
                    var_name="park_type", 
                    value_name="value")

df_melted["park_size"] = df_melted["value"].where(df_melted["park_type"].str.contains("면적"))
df_melted["park_for_one"] = df_melted["value"].where(df_melted["park_type"].str.contains("1인당면적"))

df_melted["park_type"] = df_melted["park_type"].str.replace("_면적", "").str.replace("_1인당면적", "")

df_melted.drop(columns=["value"], inplace=True)
df_melted.dropna(subset=["park_size", "park_for_one"], how="all", inplace=True)
df_melted.reset_index(drop=True, inplace=True)

In [29]:
df_melted

   gu_name park_type park_size park_for_one
0      종로구        공원  11434.59          NaN
1       중구        공원   3204.71          NaN
2      용산구        공원    1773.8          NaN
3      성동구        공원   3085.71          NaN
4      광진구        공원   3459.84          NaN
..     ...       ...       ...          ...
95     관악구   도보생활권공원      3.95         3.95
96     서초구   도보생활권공원      5.39         5.39
97     강남구   도보생활권공원      6.73         6.73
98     송파구   도보생활권공원      6.66         6.66
99     강동구   도보생활권공원      4.59         4.59

[100 rows x 4 columns]

In [35]:
df_long = df.melt(id_vars=["gu_name"], var_name="category", value_name="value")

# park_type, park_size, park_for_one 분리
df_long["park_type"] = df_long["category"].str.extract(r"(.*)_")[0]
df_long["park_for_one"] = df_long["category"].str.contains("1인당면적")

# 면적과 1인당 면적을 나누어 저장
df_wide = df_long.pivot_table(index=["gu_name", "park_type"], 
                              columns="park_for_one", values="value", 
                              aggfunc="first").reset_index()

# 컬럼명 변경
df_wide.columns = ["gu_name", "park_type", "park_size", "park_for_one"]

# 데이터 정리
df_wide = df_wide.sort_values(["gu_name", "park_type"]).reset_index(drop=True)

df_wide

   gu_name park_type park_size park_for_one
0      강남구        공원   7794.55        14.16
1      강남구   도보생활권공원   3702.44         6.73
2      강동구        공원   3408.12         7.36
3      강동구   도보생활권공원   2127.21         4.59
4      강북구        공원  14570.45        49.73
5      강북구   도보생활권공원   2129.13         7.27
6      강서구        공원   4519.82         7.95
7      강서구   도보생활권공원   3532.42         6.21
8      관악구        공원  12484.82        25.08
9      관악구   도보생활권공원   1968.85         3.95
10     광진구        공원   3459.84         9.85
11     광진구   도보생활권공원   1351.39         3.85
12     구로구        공원   3712.72         8.93
13     구로구   도보생활권공원   1667.75         4.01
14     금천구        공원   2774.39        11.51
15     금천구   도보생활권공원    563.75         2.34
16     노원구        공원   14741.5        29.31
17     노원구   도보생활권공원   1898.39         3.77
18     도봉구        공원  10151.52         32.8
19     도봉구   도보생활권공원    1122.2         3.63
20    동대문구        공원   1215.39         3.38
21    동대문구   도보생활권공원   1053.66         2.93
22     동작구        공원   4365.78         11.2
23     동작구   도보생활권공원   2311.33         5.93
24     마포구        공원   4569.31        12.18
25     마포구   도보생활권공원   4345.51        11.58
26    서대문구        공원    5107.2        15.93
27    서대문구   도보생활권공원   1132.17         3.53
28     서초구        공원  15075.97        36.59
29     서초구   도보생활권공원   2219.23         5.39
30     성동구        공원   3085.71        10.84
31     성동구   도보생활권공원   2908.02        10.21
32     성북구        공원   8527.94        19.46
33     성북구   도보생활권공원   1681.56         3.84
34     송파구        공원    4776.8         7.24
35     송파구   도보생활권공원   4396.58         6.66
36     양천구        공원   3049.86         6.94
37     양천구   도보생활권공원   2211.53         5.03
38    영등포구        공원   3003.01         7.55
39    영등포구   도보생활권공원   2957.23         7.43
40     용산구        공원    1773.8         7.81
41     용산구   도보생활권공원   1611.79          7.1
42     은평구        공원  14398.24        30.58
43     은평구   도보생활권공원   2209.56         4.69
44     종로구        공원  11434.59           76
45     종로구   도보생활권공원    3021.2        20.08
46      중구        공원   3204.71        24.32
47      중구   도보생활권공원    1390.7        10.55
48     중랑구        공원   5199.93        13.42
49     중랑구   도보생활권공원   1883.95         4.86

In [36]:
import mysql.connector

conn = mysql.connector.connect(
    host = "database-1.cbwuowec22t2.ap-northeast-2.rds.amazonaws.com",
    port = 3306,
    user = "team2",
    password = "1234",
    database = "eda_project"
)

In [37]:
cur = conn.cursor(buffered=True)

In [38]:
park_list = [(row['gu_name'], row['park_type'], row['park_size'], row['park_for_one']) for _, row in df_wide.iterrows()]

In [39]:
len(park_list)

50

In [40]:
def insert_park(gu, park_type, park_size, park_for_one):
    # 구 ID 가져오기
    cur.execute('SELECT gu_id FROM gu WHERE gu_name = %s', (gu,))
    gu_id = cur.fetchone()[0]

    cur.execute(
            'INSERT INTO park (gu_id, park_type, park_size, park_for_one)'
            'VALUES (%s, %s, %s, %s)', 
            (gu_id, park_type, park_size, park_for_one))
    
    conn.commit()

In [41]:
for gu, park_type, park_size, park_for_one in park_list:
    insert_park(gu, park_type, park_size, park_for_one)